// Variables
$color_background: #fff;
$color_highlight: #F1F1F1;
$color_navigation: #D90000;
$color_line: #CCCCCC;
$color_title: #D90000;
$color_link: #D90000;
$color_link_hover: #8A0000;
$color_link_visited: #8A0000;
$color_text: #fff;
$color_text_dull: #6D6D6D;
$color_footer: #F1F1F1;
$color_footer_text: #000;